<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>

<body>
    <div class="navbar">
        <h1>PitchBook</h1>
    </div>
    <div class="row">
        <div class="col-1">
            <h3>Categories</h3>
            <ul>
                <li>Account</li>
                <li>Categories</li>
                <li>setting</li>
                <li>about</li>
            </ul>
        </div>
        <div class="col-2">
            <div class="card">
                <div class="img">Image</div>

            </div>
            <div class="row" style="height:10%;width:20%">
                <div class="col">
                    <p>1200 likes</p>
                </div>
                <div class="col">
                    <p>500 dislikes</p>
                </div>
            </div>

        </div>
    </div>

    </div>

</body>

</html>